<h3>This page is protected</h3>

<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="https://image.freepik.com/vecteurs-libre/profil-avatar-homme-icone-ronde_24640-14044.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <p target="_blank">{{username}}</p>
                    </div>
                    <div class="desc">{{firstname}}</div>
                    <div class="desc">{{lastname}}</div>
                </div>
                <div class="bottom">
                    <button class="btn" type="submit">
                        <a href="/logout">Logout</a>
                    </button>
                </div>
            </div>

        </div>

	</div>
</div>